* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  background-color: #2a2138;
  min-width: max-content;
}

li {
  color: rgb(218, 209, 221);
  padding: 1.5rem;
  margin-right: 2rem;
}

li:hover {
  background-color: #221a2e;
  width: 100%;
  color: rgb(248, 248, 248);
}

.icon {
  margin: 0 1rem;
  width: 2rem;
  text-align: center;
}

.menu {
  background-color: #2a2138;
}

@media screen and (max-width: 428px) {
  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 429px) {
  .menu {
    margin-top: 2rem;
    width: 20%;
    height: 100vh;
  }
}
